body {
  margin: 0;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  font-weight: bold;
}

#map {
    height: 80vh;
    width: 95%;
    margin: auto;
}

#timeline {
  max-width: 95%;
  margin: 20px auto;

}

#slider {
  margin: 20px 0;
}

#rangeDisplay {
  text-align: center;
  font-weight: bold;
}